.wrapper {
    width: 1000px;
    height: 1200px;
    margin: 50px auto;
    outline: 1px solid black;
    text-align: center;
    background-color: blanchedalmond;
}

.component {
    outline: 1px solid black;
    width: 90%;
    height: 80%;
    display: inline-block;
    background-color: aliceblue;
    /* text-align: left; */
}

.header {
    height: 5%;
    width: 100%;
    margin-top: 20px;
}

h1 {
    margin-top: 20px;
    line-height: 100px;
}

h3 {
    margin-left: 50px;
}